<%-include("./partials/header")%>

<div class="container">
 
    <h2 class="cart__title"> Total du panier </h2>

    <%if(locals.session.cart.length === 0){%>
        <span class="cart__empty--message"> Votre panier est tristement vide... :(</span>
    <%}%>

    <%for(let figurine of locals.session.cart){%>
        <div class="item__container">
            
            <img class="cart__item--image" src="/images/<%=figurine.figurine.name.toLowerCase()%>.png" alt="<%=figurine.figurine.name%>">
            
            <div class="cart__item--name">
                <%=figurine.figurine.name%>
            </div>
            
            <div class="cart__item--quantity">
                Quantité : <input type="number" name="item__quantity" max="1000" min="1" value="<%=figurine.quantity%>" disabled>
            </div>
            
            <div class="cart__item--price">
                Prix : <%=figurine.figurine.price%> €
            </div>
            
            <div class="cart__item--remove">
                <a href="/cart/remove/<%=figurine.figurine.id%>">
                    <button class="remove__button"> Retirer </button>
                </a>
            </div>
        </div>
    <%}%>

    <%if(locals.session.cart.length !== 0){%>
        <div class="total__price--container">
            <div class="total__title">
                Total :
            </div>
            <div class="price__infos">
                <span class="price__ht"> HT : <%=totalHT%>€</span>
                <span class="price__tax"> Taxe : <%=tax%>€ </span>
                <span class="price__ttc"> TTC : <%=totalTTC%>€ </span>
                
                
                <div class="checkout__button--container">
                    <button class="checkout__button"> Payer <img src="/images/creditcard2_icon.png" class="cart__checkout--icon checkout__icon"> </button>
                </div>
            </div>
        </div>
    <%}%>

</div>

<%-include("./partials/footer")%>