<%-include("./partials/header")%>


<!-- End header -->
<main class="main__container">

    <div class="category__list">
        <h2 class="category__label"> Catégories : </h2>
        <%for(let category of categories){%>
            <a href="/category/<%=category.name%>" class="badge__<%=category.name.toLowerCase()%>--link-container">
                    <p class="<%=category.name.toLowerCase()%>__title category__title"> 
                        <img src="/images/<%=category.name.toLowerCase()%>_icon.png" class="category__<%=category.name.toLowerCase()%>--icon category__icon"> 
                        <%=category.name%> 
                    </p>
                    <span class="quantity"> <%=category.count%> </span>   
            </a>
        <%}%>
    </div>

    <div class="articles__container">
        <%for(let figurine of figurines){%>
            <article class="product__infos">
                <div class="image__tag--container">
                    <div class="product__image--container">
                        <a href="/item/<%=figurine.figurine.id%>">    
                            <img class="product__image" src="/images/<%=figurine.figurine.name.toLowerCase()%>.png" alt="<%=figurine.figurine.name%>">
                        </a>
                    </div>
                    <div class="tag__<%=figurine.figurine.category.toLowerCase()%>">
                        <%=figurine.figurine.category%>
                    </div>
                </div>
                
                <a class="product_name--link" href="/item/<%=figurine.figurine.id%>">
                    <div class="product__name"> <a href="/item/<%=figurine.figurine.id%>"> <%=figurine.figurine.name%> </a> </div>
                </a>
                <div class="company"> Vendeur : O'Shop & Co </div>
                <div class="price"> <%=figurine.figurine.price%>€ </div>
                <%if(figurine.note === 0){%>
                    <div class="rating"> Avis : N/A / 5 </div>
                <%} else {%>
                    <div class="rating"> Avis : <%=Math.round(figurine.note*10) / 10%> / 5 </div>
                <%}%>
                <a class="addCart__link" href="/cart/add/<%=figurine.figurine.id%>"><button class="addCart"> Ajouter au panier </button></a>
            </article>
        <%}%>
            
    </div>

    


</main>
        


<%-include("./partials/footer")%>