<%-include("./partials/header")%>

<main class="item__content">

    <div class="item__infos--container">

        <div class="item__image--container">
            <img class="item__image" src="/images/<%=figurine.name.toLowerCase()%>.png" alt="<%=figurine.name%>">
        </div>

        <div class="item__description--container">

            <h2 class="item__name">
                <%=figurine.name%> - <%=figurine.size%>cm
            </h2>

            <p class="item__text"> <%=figurine.description%></p>
            
            <div class="item__rating">
                <%if(rating.length > 0){%>
                    Moyenne des avis : <%=Math.round(Number(rating[0].note)*10) / 10%> / 5
                <%}else {%>
                    Il n'y a pas encore de moyenne pour l'instant... :(
                <%}%>
            </div>

            <div class="item__price">
                <%=figurine.price%>€
            </div>

            <div class="item__buttons--container">
                <a href="/cart/add/<%=figurine.id%>"> <button class="button__add"> <img src="/images/cart_icon.png" class="item__cart--icon item__icon"> Ajouter au panier </button> </a>
                <a href=""> <button class="button__purchase"> <img src="/images/creditcard2_icon.png" class="creditcart__icon item__icon"> Acheter </button></a>
            </div>

        </div>
    </div>


    <div class="user__review--container">

        <%if(!locals.session.user){%>
            <h2 class="user__review--title"> Connectez-vous pour partager votre avis ! </h2>

             <a href="/login" class="account__login--link">Cliquez ici</a>
            
        <%} else {%>
            
            <h2 class="user__review--title"> Votre avis compte ! Dites-nous ce que vous en pensez</h2>

            <form method="POST" action="/item/<%=figurine.id%>/review/add" id="form__review">
                <div class="user__review--header">
                    <input type="text" name="review__title" id="review__title" maxlength="20" placeholder="Votre avis en un mot" required>
                    <input type="hidden" name="review__figurineId" value="<%=figurine.id%>">
                    <label for="review__rating" class="rating__label"> Note:</label>
                    <select name="review__rating" id="review__rating">
                        <option value="5"> 5 </option>
                        <option value="4"> 4 </option>
                        <option value="3"> 3 </option>
                        <option value="2"> 2 </option>
                        <option value="1"> 1 </option>
                    </select>
                </div>
                
                <div class="user__review--body">
                    <textarea id="review__content" name="review__content" maxlength="255" placeholder="Description... (Max 255 lettres)" required></textarea>
                </div>
                
                <button type="submit" class="review__submit" id="review__submit"> Envoyer </button>
            </form>
            <%}%>
        </div>
        
        
        <div class="reviews__container">
        <h2 class="reviews__label"> Avis des utilisateurs </h2>
        <%if(reviews.length > 0){%>
            <%for(let review of reviews){%>
                <div class="reviews">
                    <p class="review__author"> <%=review.user.firstname%> <%=review.user.lastname%> - Note : <%=review.note%> / 5 </p>
                    <p class="review__title"> Avis : <%=review.title%> </p>
                    <p class="review__description"> <%=review.message%> </p>
                    <%if(locals.session.user){%>
                        <%if(locals.session.user.roles === "admin" || locals.session.user && locals.session.user.id === review.user.id){%>
                            <a href="<%=figurine.id%>/review/delete/<%=review.id%>"><button class="review__delete"> Supprimer </button></a>
                        <%}%>
                    <%}%>
                </div>
            <%}%>
        <%} else {%>
            <div class="reviews">
                <p class="review__reviewless"> Il n'y a pas encore de commentaire pour cet article... :(</p>
            </div>
        <%}%>

    </div>
</main>


<%-include("./partials/footer")%>