<%-include("./partials/header")%>

<main class="item__content">

    <div class="item__infos--container">

        <div class="item__image--container">
            <img class="item__image" src="/images/<%=figurine.name.toLowerCase()%>.png" alt="<%=figurine.name%>">
        </div>

        <div class="item__description--container">

            <h2 class="item__name">
                <%=figurine.name%>
            </h2>

            <p class="item__text"> <%=figurine.description%></p>
            
            <div class="item__rating">
                Moyenne : <%=Math.round(rating*10) / 10%> / 5
            </div>

            <div class="item__price">
                <%=figurine.price%>€
            </div>

            <div class="item__buttons--container">
                <a href=""> <button class="button__add"> Ajouter au panier </button> </a>
                <a href=""> <button class="button__purchase"> Acheter </button></a>
            </div>

        </div>
    </div>

    <div class="reviews__container">
        <h2 class="reviews__label"> Avis des utilisateurs </h2>
        <%for(let review of reviews){%>
            <div class="reviews">
                <p class="review__author"> <%=review.author%> - Note : <%=review.note%> / 5 </p>
                <p class="review__title"> Avis : <%=review.title%> </p>
                <p class="review__description"> <%=review.message%> </p>
            </div>
        <%}%>

    </div>
</main>


<%-include("./partials/footer")%>